$bg-no-opacity:#a8aba4;
$bg-w-opacity: rgba(0, 0, 0, 0.411);
$bg-on-hover: #f9fced;
$primary-color:#f7ffd6;
$secondary-color: #f87427;
/* $secondary-color: #fc668b; */
$description-color:  rgb(51, 49, 49);
$border-main: 2px solid #f7ffd6;
$shadow: 6px 6px 10px 0 rgba(92, 91, 91, 0.25),
-6px -6px 10px 0 rgba(255, 255, 255, 0.3);
$m-main: 10px;
$p-main: 10px;
$font-size-big: 2px;


@mixin bg-image-basic () {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
@mixin flex-center () {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
@mixin animation-X0-1 (){
    transform: translateX(0%);
    opacity: 1;
}
@mixin animation-X100-0 () {
    transform: translateX(100%);     
    opacity: 0; 
}
@mixin flex-col () {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
@mixin animation-Y0-1 () {
    transform: translateY(0%);
    opacity: 1;
}