@import "./variables";
@import "./basic";

.container-main-hidden {
    position: relative;
    top: 100vh;  
    @media screen and (max-width: 768px){
        top: 0;
    }
}

/* First page */
.container-one-fixed {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(16, 1fr);  
    position: fixed;
    top: 0;
    @media screen and (max-width: 768px){
        padding: 10px;
        display: flex;  
        height: fit-content;
        flex-direction: column;
        align-items: center;
        position: static;

    }
    .title {
        grid-area: 8/7/10/21;
        color: $secondary-color;
        border-bottom: $secondary-border;
        font-size: 6rem;
        letter-spacing: 1rem;
        @include animation-X100-0;
        transition: all 1s ease-out;
        @media screen and (max-width: 768px){
            font-size: 3.5rem;
            margin-top: 20px;
        }
    }
    &:hover .title{
        @include animation-X0-1;
    }
    .profession {
        grid-area: 10/7/12/21;
        color: $secondary-color;
        font-size: 3.6rem;
        @include animation-X100-0;
        transition: all 1s ease-out;
        @media screen and (max-width: 768px){
            font-size: 2.2rem;
            margin-bottom: 20px;
        }
    }
    &:hover .profession{
        @include animation-X0-1;
    }
    .about {
        grid-area: 2/7/8/15;
    }
    .skills {
        grid-area: 2/15/7/22;
    }
    .contact {
        grid-area: 11/1/17/6;
    }
      .card-image {
        gap:20px;
        grid-area: 1/1/18/6; 
        min-width: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
        background-color: $bg-no-opacity;
        transition:all 0.5s ease-in-out;
        @media screen and (max-width: 768px){
            gap: 10px
        }
        
    }
    .my-img {
        background-image: url(../../images/my-picture..jpg); 
        @include bg-image-basic;
        border-radius: 8px;
        width: 70%;
        min-height: 350px;
        box-shadow: 8 8 8px rgba(0, 0, 0, 0.2);
        @media screen and (max-width: 768px){
            width: 80%;
            min-height: 300px;
        }
    }
    .name {
        color: $primary-color;
        font-size: 2.2rem;
        text-align: center;
        text-transform: uppercase;
        @media screen and (max-width: 768px){
            font-size: 1.8rem;
        }
    }
    .skills{
        .skills-img {
            @media screen and (max-width: 768px){
                height: 300px;
            } 
        }

    }
    .line1 {
        grid-area: 1/6/8/7; 
        border-left: $secondary-border;
    }
    .line2 {
        grid-area: 11/6/22/7; 
        border-left: $secondary-border;
        padding-left: 5px;
        writing-mode: vertical-rl;
        text-orientation:sideways;
        font-size: 1.2rem;
        width: fit-content;
        text-align:center;
        color: $secondary-color;
        &::after{
            font-family: "Font Awesome 5 Free"; 
            font-weight: 900; 
            content: "\f061";
            margin-top: 10px;
        } 
        @media screen and (max-width: 768px){
            order: 3;
            text-align: center;
            writing-mode: horizontal-tb;
            width: auto;
            border: none;
            transition: all 1s ease-out;
            transform: translateY(100%);
            opacity: 0;
            &::after{
                content: "\f063";
                margin-left: 5px;
            }  
            &:hover .line2{
                @include animation-Y0-1;
            }
        }
    }  
    /* Contact form */
    .contact-form {
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        color:$description-color;
    }
    form {
        display: flex;
        flex-direction: column;
        width: 90%;
    }
    input,textarea{
        width: 100%; 
        padding: 5px; 
        margin: 8px auto; 
        border-radius: 6px;
        border: none;
        transition: all 0.3s ease-in;
        &:focus {
            border: 0;
        outline: 2px solid $secondary-color;
        }
    }
 
    input[type="submit"] {
        width: 120px; 
        margin: 5px auto; 
        border-radius: 6px;
        border: none;
        background-color: $secondary-color;
        font-size: 1rem;
        transition: all 0.4s linear;
        &:hover {
          background-color: $primary-color;
          transform: scale(1.03);
        }
    }
    .icons {
        display: flex;
        align-items: center;
        justify-content: center;
        a {
            padding: 0 10px;
            color:$description-color;
            font-size: 1.4rem;
        }
        a:hover {
            color: $secondary-color;
        }
    }
    
}
/* First page end*/

.center {
    position: absolute;
    top: -10%; 
    left: 50%;
    transform: translate(-50%, -50%);
    color: $primary-color;
    font-size: 1.8rem; 
}
  .description {
    gap: 10px;
    display: flex;
    flex-direction: column;
    line-height: 1.7rem;
    color:$description-color;
    font-size: 1.3rem;
    @media screen and (max-width: 768px){
        line-height: 1.5rem;
        font-size: 1.1rem;
        margin-top: 20px;
    }
    
  }
.item {
    gap: 15px;
    border-radius: 6px ;
    display: flex;
    flex-direction: column;
    align-items: center;
   
    @include bg-image-basic;
    width: 100%;
    @media screen and (max-width: 768px){
        width: 90%;
        text-align: center;
    }
}

/* Projects */

.flip-container {
    width: 100vw;
    position: relative;
    top: 100vh;
    background-color: $bg-w-opacity;
    display: grid;
    grid-template-columns: repeat(22, 1fr);
    grid-template-rows: repeat(16, 1fr); 

    @media screen and (max-width: 768px){
        padding: $p-main;
        @include flex-center;
        top: 10px;
        gap: 50px;
    }
    
    .projects {
        grid-area: 8/11/9/23;
        color:$primary-color;
        font-size: 3.2rem;
        border-top: $border-main;
        opacity: 0; 
        transform: translateY(-100%);      
        transition: all 1s ease-out;
    }
    &:hover .projects{
        transform: translateY(0%);
        opacity: 1;
    }
    .project1 {
        grid-area: 11/11/16/14;
    }
    .project2 {
        grid-area: 11/15/16/18;
    }
    .project3 {
        grid-area: 11/19/16/22;
    }  

   
    /* Flip-cards */
    .flip-card {
        background-color: transparent;
        perspective: 1000px; 
    }
    .flip-card-inner {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform 0.8s;
        transform-style: preserve-3d;
    }
   .flip-card:hover .flip-card-inner {
        transform: rotateY(180deg);
    }
    .flip-card-front, .flip-card-back {
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
        border-radius: 6px;
        img{
            border-radius: 6px;
        }
    }
    /* if image is missing) */
    .flip-card-front {
        background-color:  #a8aba4;
        color: black;
    }
   .flip-card-back {
        background-color: $primary-color;
        color: $description-color;
        transform: rotateY(180deg);
        padding: $p-main;
        display: flex;
        flex-direction: column;
        gap: 10px;
       text-align: left;
    @include flex-col;
        box-shadow: $shadow;
        a {
            text-decoration: none;
            color:$secondary-color;
        }
        a:hover{
            text-decoration:  underline 2px solid $secondary-color;
        } 
    }
    
}


/* @media screen and (max-width:768px) {
    .container-main-hidden {
        top: 200vh;
    }
    .container-one-fixed {
       padding: 10px;
        display: flex;  
        height: auto;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      
        .title {
            font-size: 4rem;
        }
        .profession {
            font-size: 2.5rem;
        }
        .about, .skills, .contact {
            margin: 10px;
            width: 400px;
            height: 300px;
            opacity: 0;
            transform: translateX(-100%);      
            transition: all 1s ease-out;
        }
        .skills{
            transform: translateX(100%);
        }
        .contact{
            height: 650px;
        }
        &:hover .about,
        &:hover .skills,
        &:hover .contact {
           @include animation-X0-1
        }
        .card-image {
            height: 400px;
            opacity: 0;
            transition: all 1s ease-out;
            transform: translateY(-300%);
            width: 80%;
            .my-image{
                 width: 90%
            }
        }
        &:hover .card-image {
            @include animation-Y0-1;
        }
       
        .line2 {
            order: 3;
            text-align: center;
            writing-mode: horizontal-tb;
            width: auto;
            border: none;
            transition: all 1s ease-out;
            transform: translateY(100%);
            opacity: 0;
            &::after{
                font-family: "Font Awesome 5 Free"; 
                font-weight: 900; 
                content: "\f063";
                margin-left: 5px;
            } 
        }
        &:hover .line2{
            @include animation-Y0-1;
        }
        .title {
            width: auto;
            font-size: 2.6rem;
            text-align: center;
            padding: 20px;
        }
        .profession {
            font-size: 2rem;
            text-align: center;
        }
    }
    
   .flip-container {
    padding: $p-main;
    @include flex-center;
    width: 100%;
    top: 10px;
    .flip-card {
        margin: 7px;
       }
    .projects {
        font-size: 2rem;
        margin-bottom: 10px;
        margin-top: 10px;
        width: 500px !important;
        height: 60px !important;
        text-align: center;
    }
   }
   .flip-container *{
    width: 320px !important;
    height: 160px !important;
   }
}
 */
