@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Grid Design Studio */
body {
    font-family: 'Maven Pro', sans-serif;
    /* background-color: rgb(236, 235, 235); */
    background-color: #a8aba4;
    color: #f7ffd6;
    font-weight: 400;
  
    
}



.container-main-hidden {
    width: 100vw;
    min-height: 100vh;
    height: auto;
    position: relative;
    top: 100vh;
    background-color: #a8aba46e;
     
   
}
.flip-container {
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(22, 1fr);
    grid-template-rows: repeat(16, 1fr); 
    
    
}

.container-one {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(16, 1fr);  
    position: fixed;
    top: 0;
    z-index: -2;
    
}

.line1 {
    grid-area: 1/5/5/6; 
    border-left: 2px solid  #f7ffd6;
}

.line2 {
    grid-area: 12/5/22/6; 
    border-left: 2px solid  #f7ffd6;
    writing-mode: vertical-rl;
    text-orientation:sideways;
    width: fit-content;
    text-align:center;
}

.card-image {
    grid-area: 5/3/12/7; 
    width: auto;
    min-width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid #f7ffd6;
    margin: 10px;
    padding: 10px;
    background-color: #a8aba4;
    box-shadow: 
    6px 6px 10px 0 rgba(92, 91, 91, 0.25),
    -6px -6px 10px 0 rgba(255, 255, 255, 0.3);
 
    transition:all 0.5s ease-in-out;
   
}
.my-img {
    background-image: url(../../images/my-img2.jpg); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 90%;
}

.name {
    margin-top: 10px;
    grid-area: 6/3/7/6;
    color: #f7ffd6;
    font-size: 1.4rem;
    text-align: center;
    text-transform: uppercase;
}

.title {
    grid-area: 5/8/7/21;
    
    color: #f7ffd6;
    font-size: 6rem;
    letter-spacing: 1rem;
    opacity: 1; 
    transform: translateX(0%);      
    transition: all 1s ease-out;
    
    
}

.container-main-hidden:hover .title{
    transform: translateX(100%);
    opacity: 0;
}

.profession {
    grid-area: 7/8/8/21;
    border-top: 2px solid  #f7ffd6;
    color: #f7ffd6;
    font-size: 3.6rem;
    opacity: 1; 
    transform: translateX(0%);      
    transition: all 1s ease-out; 
}

.container-main-hidden:hover .profession{
    transform: translateX(100%);
    opacity: 0;
}

.projects {
    grid-area: 7/8/8/21;
    border-top: 2px solid  #f7ffd6;
    color: #f7ffd6;
    font-size: 3.6rem;
    opacity: 0; 
    transform: translateY(300%);      
    transition: all 0.6s ease-out;
}

.container-main-hidden:hover .projects{
    transform: translateY(0%);
    opacity: 1;
}

.text {
    text-align: center;
    color: #f7ffd6;
    font-size: 2rem;
    line-height: 150px;
}

.item {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color:#f7ffd6;
   /*  border: 2px solid #f7ffd6; */
    width: 100%;
    box-shadow: 
    6px 6px 10px 0 rgba(92, 91, 91, 0.25),
    -6px -6px 10px 0 rgba(255, 255, 255, 0.3);
   
    transition:all 0.5s ease-in-out;
}



.item:hover{
    background-color: #f9fced;
    color: rgb(255, 0, 157);
    color: rgb(51, 49, 49);
    /* box-shadow: 
    inset -6px -6px 10px 0 rgba(255, 255, 255, 0.3),
    inset 6px 6px 10px 0 rgba(92, 91, 91, 0.25);  */
} 
.description {
    display: none;
    padding: 10px;
    text-align: center;
}
.item1:hover .description {
    display: block;
    
}
.item2:hover .description{
    display: block;
   
}
.item3:hover .description{
    display: block;
    
}
.item1:hover .text {
    display: none;
}
.item2:hover .text {
    display: none;
}
.item3:hover .text {
    display: none;
}

.item1 {
    background-image: url(../../images/item-two.jpeg); 
    grid-area: 1/6/4/10;
    
}
.item1:hover,
.item2:hover,
.item3:hover {
    background-image: none;

}

.item2 {
    background-image: url(../../images/item-three.jpeg); 
    grid-area: 3/16/6/22;
}

.item3 {
    background-image: url(../../images/item-four.jpeg);
    grid-area: 13/16/17/22;
}


.item {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color:#f7ffd6;
   /*  border: 2px solid #f7ffd6; */
    width: 100%;
    box-shadow: 
    6px 6px 10px 0 rgba(92, 91, 91, 0.25),
    -6px -6px 10px 0 rgba(255, 255, 255, 0.3);
    
    transition:all 0.5s ease-in-out;
}

.item4 {
    /* background-image: url(./images/item-five.jpeg); */
    grid-area: 9/10/13/13;
}


.item5 {
    /* background-image: url(./images/item-seven.jpeg); */
    grid-area: 12/13/15/16;
}

.item6 {
    /* background-image: url(./images/item-nine.jpeg); */
    grid-area: 8/14/11/17;
}
.item7 {
    /* background-image: url(./images/item-nine.jpeg); */
    grid-area: 13/10/16/12;
    
}

.item8 {
    /* background-image: url(./images/item-nine.jpeg); */
    grid-area: 9/18/12/21;
}




#form{
    width: auto;
    height: auto;
    border: 1px solid red;
    display: none;
}
#form:hover {
    display: block;
}
form{
    display: block;
    margin: 10px auto;
    width: 90%;
    

}
input{
    display: inline-block; 
    width: 100%;   
}
 textarea {
    display: inline-block; 
    width: 60%;   
}

input:focus, textarea:focus{
    border: 0;
    outline: 2px solid blue;
}

input[type="submit"] {
    display: block; 
    width: 65px; 
    margin: 8px auto; 
}






/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
    background-color: transparent;
   /*  width: 300px;
    height: 200px; */
   
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
}
  
  /* This container is needed to position the front and back side */
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}
  
  /* Position the front and back side */
.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
   
    backface-visibility: hidden;
}
  
  /* Style the front side (fallback if image is missing) */
.flip-card-front {
    background-color:  #a8aba4;
    color: black;
  }
  
  /* Style the back side */
.flip-card-back {
    background-color:#f7ffd6;
    color: rgb(51, 49, 49);
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #f7ffd6;
    
}

a {
    text-decoration: none;
    color: rgb(51, 49, 49);
  
}

a:hover{
    text-decoration:  underline 3px solid rgb(51, 49, 49);
} 

@media screen and (max-width:768px) {
    .container-one {
        display: flex;  
        flex-direction: column;
        position: fixed;
        top: 0;
        z-index: -2;
       align-items: center;
        justify-content: center;
    }
    .line2 {
        order: 3;
        text-align: center;
        writing-mode:horizontal-tb;
        width: auto;
        line-height: auto;
    }
    .title {
        width: auto;
        font-size: 2.6rem;
        text-align: center;
        padding: 20px;
    }

    .profession {
        font-size: 2rem;
        text-align: center;
    }
   
    .item1, .item2, .item3 {
        margin: 10px;
        width: 300px;
        max-width: 400px;
        border: 2px solid #f7ffd6;
        opacity: 1; 
        transform: translateX(0%);      
        transition: all 1s ease-out; 
    }
    .container-main-hidden:hover .item1{
        transform: translateX(-100%);
        opacity: 0;
    }
    .container-main-hidden:hover .item2{
        transform: translateX(100%);
        opacity: 0;
    }
    .container-main-hidden:hover .item3{
        transform: translateX(-100%);
        opacity: 0;
    }

    .container-main-hidden{
        display: flex;
        flex-direction: column; 
    }
 
   .flip-container {
    display: flex;
    height: 80vh;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: #a8aba44f;
   }
   .flip-container *{
    width: 300px !important;
    height: 150px !important;
   }
   .flip-card {
    margin: 10px;
   }


}

